.navbar {
    height: 100vh;
    width: 20%;
    padding: var(--mantine-spacing-md);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.navbarMain {
    flex: 1;
}

.header {
    padding-bottom: var(--mantine-spacing-md);
    margin-bottom: calc(var(--mantine-spacing-md) * 1.5);
    border-bottom: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.footer {
    padding-top: var(--mantine-spacing-md);
    margin-top: var(--mantine-spacing-md);
    border-top: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.link {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 16px;
    color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-1));
    padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
    border-radius: var(--mantine-radius-sm);
    font-weight: 500;
    gap: 8px;

    @mixin hover {
        background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
        color: light-dark(var(--mantine-color-black), var(--mantine-color-white));

        .linkIcon {
            color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
        }
    }

    &[data-active] {
        &,
        &:hover {
            color: var(--mantine-color-accent-4);

            .linkIcon {
                color: var(--mantine-color-accent-4);
            }
        }
    }

    &[data-disabled] {
        color: var(--mantine-color-gray-5);
        cursor: not-allowed;
        pointer-events: none;
        opacity: 0.6;

        .linkIcon {
            color: var(--mantine-color-gray-5);
        }
    }
}

.linkIcon {
    color: light-dark(var(--mantine-color-gray-6), var(--mantine-color-dark-2));
    margin-right: var(--mantine-spacing-sm);
    width: 30px;
    height: 30px;
}

.root {
    background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-6));
    box-shadow: var(--mantine-shadow-md);
    border: 1px solid light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-4));
}

.indicator {
    background-color: var(--mantine-color-accent-4);
}

.control {
    &::before {
        display: none;
    }
}

.label {
    &,
    &:hover {
        &[data-active] {
            color: var(--mantine-color-white);
        }
    }
}
